node-red/power_flows/marcos_flow.json
[{"id":"78bc4f2a.a39ca","type":"tab","label":"Marcos","disabled":false,"info":""},{"id":"547842d6.ff301c","type":"mqtt out","z":"78bc4f2a.a39ca","name":"","topic":"cmd/relaybox/switch5","qos":"","retain":"","broker":"ddd76ee4.a8006","x":740,"y":180,"wires":[]},{"id":"fbceb0fb.04c7b","type":"delay","z":"78bc4f2a.a39ca","name":"Delay 10 mins","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":120,"wires":[["efe88e06.2e69a"]]},{"id":"17296191.cce95e","type":"function","z":"78bc4f2a.a39ca","name":"turn off","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["547842d6.ff301c","4f04c90e.5674f8","83e34b21.d19878"]]},{"id":"efe88e06.2e69a","type":"function","z":"78bc4f2a.a39ca","name":"turn on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":120,"wires":[["547842d6.ff301c"]]},{"id":"67f252ae.87410c","type":"comment","z":"78bc4f2a.a39ca","name":"feeding","info":"","x":90,"y":140,"wires":[]},{"id":"27a2550b.29fe6a","type":"ui_button","z":"78bc4f2a.a39ca","name":"","group":"220413dd.a9d4dc","order":0,"width":0,"height":0,"passthru":false,"label":"feeding","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":100,"y":180,"wires":[["17296191.cce95e","fbceb0fb.04c7b","cdd06cdd.67d14"]]},{"id":"83e34b21.d19878","type":"mqtt out","z":"78bc4f2a.a39ca","name":"","topic":"cmd/relaybox/switch6","qos":"","retain":"","broker":"ddd76ee4.a8006","x":740,"y":220,"wires":[]},{"id":"4f04c90e.5674f8","type":"mqtt out","z":"78bc4f2a.a39ca","name":"","topic":"cmd/relaybox/switch4","qos":"","retain":"","broker":"ddd76ee4.a8006","x":740,"y":140,"wires":[]},{"id":"db5baab7.f754a8","type":"comment","z":"78bc4f2a.a39ca","name":"water change","info":"","x":110,"y":380,"wires":[]},{"id":"732b925e.6668ac","type":"ui_button","z":"78bc4f2a.a39ca","name":"","group":"220413dd.a9d4dc","order":0,"width":0,"height":0,"passthru":false,"label":"water change","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":120,"y":420,"wires":[["434feff1.f0a61","9623c1a7.b5674","b52fb026.2b7aa"]]},{"id":"4ec1bbcb.8a5dc4","type":"delay","z":"78bc4f2a.a39ca","name":"Delay 2 hours","pauseType":"delay","timeout":"2","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":980,"wires":[["5af02e04.6de91"]]},{"id":"15d5d4e2.020bdb","type":"function","z":"78bc4f2a.a39ca","name":"turn off","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":920,"wires":[["4d027860.22c018"]]},{"id":"5af02e04.6de91","type":"function","z":"78bc4f2a.a39ca","name":"turn on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":980,"wires":[["4d027860.22c018"]]},{"id":"f3905d79.776fd","type":"inject","z":"78bc4f2a.a39ca","name":"","topic":"","payload":"turn on manually","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":1040,"wires":[["5af02e04.6de91"]]},{"id":"13007d75.adb483","type":"comment","z":"78bc4f2a.a39ca","name":"pause skimmer 2 hours","info":"","x":140,"y":880,"wires":[]},{"id":"71b5d522.d954ec","type":"ui_button","z":"78bc4f2a.a39ca","name":"","group":"220413dd.a9d4dc","order":0,"width":0,"height":0,"passthru":false,"label":"pause skimmer 2 hours","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":150,"y":920,"wires":[["15d5d4e2.020bdb","4ec1bbcb.8a5dc4"]]},{"id":"4d027860.22c018","type":"mqtt out","z":"78bc4f2a.a39ca","name":"","topic":"cmd/relaybox/switch6","qos":"","retain":"","broker":"ddd76ee4.a8006","x":740,"y":920,"wires":[]},{"id":"cdd06cdd.67d14","type":"delay","z":"78bc4f2a.a39ca","name":"Delay 12 mins","pauseType":"delay","timeout":"12","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":240,"wires":[["f84d6a20.de3988"]]},{"id":"f84d6a20.de3988","type":"function","z":"78bc4f2a.a39ca","name":"turn on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":240,"wires":[["83e34b21.d19878","4f04c90e.5674f8"]]},{"id":"6c9c908.6aca67","type":"mqtt out","z":"78bc4f2a.a39ca","name":"","topic":"cmd/relaybox/switch5","qos":"","retain":"","broker":"ddd76ee4.a8006","x":760,"y":420,"wires":[]},{"id":"434feff1.f0a61","type":"delay","z":"78bc4f2a.a39ca","name":"Delay 20 mins","pauseType":"delay","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":360,"wires":[["56eaf307.b6848c"]]},{"id":"9623c1a7.b5674","type":"function","z":"78bc4f2a.a39ca","name":"turn off","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":420,"wires":[["6c9c908.6aca67","ff70add1.12839","58af1b0b.454194"]]},{"id":"56eaf307.b6848c","type":"function","z":"78bc4f2a.a39ca","name":"turn on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":360,"wires":[["6c9c908.6aca67"]]},{"id":"58af1b0b.454194","type":"mqtt out","z":"78bc4f2a.a39ca","name":"","topic":"cmd/relaybox/switch6","qos":"","retain":"","broker":"ddd76ee4.a8006","x":760,"y":460,"wires":[]},{"id":"ff70add1.12839","type":"mqtt out","z":"78bc4f2a.a39ca","name":"","topic":"cmd/relaybox/switch4","qos":"","retain":"","broker":"ddd76ee4.a8006","x":760,"y":380,"wires":[]},{"id":"b52fb026.2b7aa","type":"delay","z":"78bc4f2a.a39ca","name":"Delay 22 mins","pauseType":"delay","timeout":"22","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":480,"wires":[["73275c73.7da1a4"]]},{"id":"73275c73.7da1a4","type":"function","z":"78bc4f2a.a39ca","name":"turn on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":480,"wires":[["58af1b0b.454194","ff70add1.12839"]]},{"id":"ddd76ee4.a8006","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"220413dd.a9d4dc","type":"ui_group","z":"","name":"Marcos","tab":"74d84887.fd0e28","disp":true,"width":"6","collapse":false},{"id":"74d84887.fd0e28","type":"ui_tab","z":"","name":"Power","icon":"dashboard","order":8,"disabled":false,"hidden":false}]