node-red/power_flows/power_controller_flows.json
[{"id":"1e443840.b4e058","type":"tab","label":"Power Controller","disabled":false,"info":""},{"id":"a943c026.90026","type":"bigtimer","z":"1e443840.b4e058","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Main Light Timer","comment":"","lat":"25.2","lon":"121.38","starttime":"660","endtime":"1320","starttime2":"0","endtime2":"0","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"1440","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":310,"y":120,"wires":[["b7e7f145.e1a58"],["8d26082c.c3bb08","65c2adb9.9d1224"],[]]},{"id":"13307f0d.d0e641","type":"inject","z":"1e443840.b4e058","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["a943c026.90026"]]},{"id":"8494807e.4a305","type":"inject","z":"1e443840.b4e058","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["a943c026.90026"]]},{"id":"1e556d14.c55db3","type":"inject","z":"1e443840.b4e058","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["a943c026.90026"]]},{"id":"b7e7f145.e1a58","type":"debug","z":"1e443840.b4e058","name":"m1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":80,"wires":[]},{"id":"8d26082c.c3bb08","type":"debug","z":"1e443840.b4e058","name":"m2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":120,"wires":[]},{"id":"65c2adb9.9d1224","type":"mqtt out","z":"1e443840.b4e058","name":"","topic":"cmd/relaybox/switch1","qos":"","retain":"","broker":"ddd76ee4.a8006","x":580,"y":160,"wires":[]},{"id":"d3438a3b.1c5468","type":"inject","z":"1e443840.b4e058","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1740,"wires":[["199e051c.bfd11b"]]},{"id":"199e051c.bfd11b","type":"mqtt out","z":"1e443840.b4e058","name":"","topic":"status/relaybox/switch1","qos":"","retain":"","broker":"ddd76ee4.a8006","x":420,"y":1740,"wires":[]},{"id":"9640e4fa.1d85c8","type":"inject","z":"1e443840.b4e058","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1780,"wires":[["199e051c.bfd11b"]]},{"id":"7c4ffe13.8cc63","type":"comment","z":"1e443840.b4e058","name":"Send status only for test","info":"","x":150,"y":1700,"wires":[]},{"id":"1f27682d.52eeb8","type":"bigtimer","z":"1e443840.b4e058","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Refugium Light Timer","comment":"","lat":"25.2","lon":"121.38","starttime":"600","endtime":"1380","starttime2":"0","endtime2":"0","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"10","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":480,"y":340,"wires":[["251be19f.0c734e"],["105a9370.fea53d","4f6110f4.f1906"],[]]},{"id":"790c7fba.9e0da","type":"inject","z":"1e443840.b4e058","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":400,"wires":[["1f27682d.52eeb8"]]},{"id":"67450a03.751824","type":"inject","z":"1e443840.b4e058","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":320,"wires":[["1f27682d.52eeb8"]]},{"id":"8d465926.9100e8","type":"inject","z":"1e443840.b4e058","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":360,"wires":[["1f27682d.52eeb8"]]},{"id":"251be19f.0c734e","type":"debug","z":"1e443840.b4e058","name":"m1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":300,"wires":[]},{"id":"105a9370.fea53d","type":"debug","z":"1e443840.b4e058","name":"m2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":340,"wires":[]},{"id":"4f6110f4.f1906","type":"mqtt out","z":"1e443840.b4e058","name":"","topic":"cmd/relaybox/switch2","qos":"","retain":"","broker":"ddd76ee4.a8006","x":740,"y":380,"wires":[]},{"id":"dd9b4699.bbd588","type":"mqtt out","z":"1e443840.b4e058","name":"","topic":"cmd/relaybox/switch8","qos":"","retain":"","broker":"ddd76ee4.a8006","x":760,"y":860,"wires":[]},{"id":"1c97eaab.2e1c35","type":"inject","z":"1e443840.b4e058","name":"every 3 hours","topic":"","payload":"","payloadType":"date","repeat":"10800","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":860,"wires":[["4608aa43.e929c4","dee660ae.b27ac"]]},{"id":"dee660ae.b27ac","type":"delay","z":"1e443840.b4e058","name":"Delay 1 hour","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":920,"wires":[["a79d48a0.829f88"]]},{"id":"4608aa43.e929c4","type":"function","z":"1e443840.b4e058","name":"turn on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":860,"wires":[["dd9b4699.bbd588"]]},{"id":"a79d48a0.829f88","type":"function","z":"1e443840.b4e058","name":"turn off","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":920,"wires":[["dd9b4699.bbd588"]]},{"id":"bd1142cc.fab4f","type":"ui_button","z":"1e443840.b4e058","name":"","group":"8eeff00b.099a2","order":0,"width":0,"height":0,"passthru":false,"label":"Reset Energy","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":130,"y":1620,"wires":[["6b2ccc8a.99bf84"]]},{"id":"6b2ccc8a.99bf84","type":"mqtt out","z":"1e443840.b4e058","name":"","topic":"cmd/relaybox/pzem","qos":"","retain":"","broker":"ddd76ee4.a8006","x":360,"y":1580,"wires":[]},{"id":"7bdb629b.cdf7ac","type":"mqtt in","z":"1e443840.b4e058","name":"","topic":"power/relaybox/","qos":"2","datatype":"auto","broker":"ddd76ee4.a8006","x":120,"y":1400,"wires":[["d278ba30.dfd6e8","11ae9828.ee9d68"]]},{"id":"d278ba30.dfd6e8","type":"debug","z":"1e443840.b4e058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":1460,"wires":[]},{"id":"d7d606fd.133f58","type":"influxdb out","z":"1e443840.b4e058","influxdb":"a84d487c.0c7558","name":"","measurement":"power","precision":"","retentionPolicy":"","x":560,"y":1400,"wires":[]},{"id":"11ae9828.ee9d68","type":"function","z":"1e443840.b4e058","name":"process raw data","func":"p=JSON.parse(msg.payload);\n// msg.payload = {\n//     v: p.v,\n//     i: p.i,\n//     p: p.p,\n//     e: p.e\n//}   \nmsg.payload = {\n    v: p.v,\n    i: p.i,\n    p: p.p,\n    e: p.e,\n    f: p.f,\n    pf: p.pf\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1400,"wires":[["d7d606fd.133f58"]]},{"id":"feb6acf6.fa592","type":"inject","z":"1e443840.b4e058","name":"","topic":"","payload":"turn off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":980,"wires":[["a79d48a0.829f88"]]},{"id":"2db73ae3.b05d16","type":"inject","z":"1e443840.b4e058","name":"Reset everyday","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":140,"y":1560,"wires":[["6b2ccc8a.99bf84"]]},{"id":"b449efe0.e26e2","type":"comment","z":"1e443840.b4e058","name":"power report","info":"","x":110,"y":1320,"wires":[]},{"id":"a11baa26.65d218","type":"comment","z":"1e443840.b4e058","name":"timer 1","info":"","x":90,"y":40,"wires":[]},{"id":"5fc4dd55.797394","type":"comment","z":"1e443840.b4e058","name":"timer 2","info":"","x":90,"y":260,"wires":[]},{"id":"4cbce52a.ffe68c","type":"comment","z":"1e443840.b4e058","name":"timer 8  refugium_powerhead","info":"","x":180,"y":820,"wires":[]},{"id":"2232ae7f.fd1b72","type":"mqtt in","z":"1e443840.b4e058","name":"","topic":"power/relaybox/","qos":"2","datatype":"auto","broker":"ddd76ee4.a8006","x":120,"y":520,"wires":[["48fcff0a.3d851"]]},{"id":"49ef80f0.f7cb7","type":"comment","z":"1e443840.b4e058","name":"fan control 3","info":"","x":110,"y":480,"wires":[]},{"id":"757fc2cb.c3819c","type":"mqtt out","z":"1e443840.b4e058","name":"","topic":"cmd/relaybox/switch3","qos":"","retain":"","broker":"ddd76ee4.a8006","x":900,"y":560,"wires":[]},{"id":"48fcff0a.3d851","type":"function","z":"1e443840.b4e058","name":"calcualte if chiller is working","func":"p=JSON.parse(msg.payload);\n\npower = p.p;\nvar hour = new Date().getHours();\n\n//HQI light or not\nif (hour>=11 && hour<22) {\n    power = power - 200;\n}else{\n    power = power - 42;\n}\n\nif (power > 200){\n    msg.payload=1;\n    return msg;\n}else{\n    msg.payload=0;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":420,"y":520,"wires":[["ab51606d.12c0b"]]},{"id":"3cf1b4ce.0295ac","type":"inject","z":"1e443840.b4e058","name":"","topic":"","payload":"turn on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":920,"wires":[["4608aa43.e929c4"]]},{"id":"507afd44.24fc84","type":"ui_button","z":"1e443840.b4e058","name":"","group":"220413dd.a9d4dc","order":0,"width":0,"height":0,"passthru":false,"label":"Turn On Refugium Light for 10 mins","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":340,"y":280,"wires":[["1f27682d.52eeb8"]]},{"id":"4f3c4346.005dac","type":"ui_button","z":"1e443840.b4e058","name":"","group":"220413dd.a9d4dc","order":0,"width":0,"height":0,"passthru":false,"label":"Turn On Fan for 10 mins","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":190,"y":620,"wires":[["ab1b7bf8.e04968","6a3fdb65.aaf6f4"]]},{"id":"ab51606d.12c0b","type":"function","z":"1e443840.b4e058","name":"switch3","func":"var on_override=global.get(\"on_override3\")||false;\n\nif (on_override){\n    msg.payload=1;\n    return msg;\n}else{\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":660,"y":560,"wires":[["757fc2cb.c3819c"]]},{"id":"ab1b7bf8.e04968","type":"function","z":"1e443840.b4e058","name":"lock","func":"//set locked = true\nglobal.set(\"on_override3\",true);\n\n\n","outputs":1,"noerr":0,"x":450,"y":620,"wires":[["ab51606d.12c0b"]]},{"id":"6a3fdb65.aaf6f4","type":"delay","z":"1e443840.b4e058","name":"Delay 10 min","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":680,"wires":[["ed88089b.94e448"]]},{"id":"ed88089b.94e448","type":"function","z":"1e443840.b4e058","name":"unlock","func":"//set locked = true\nglobal.set(\"on_override3\",false);\n\n\n","outputs":1,"noerr":0,"x":630,"y":680,"wires":[[]]},{"id":"fb8d9429.78b588","type":"inject","z":"1e443840.b4e058","name":"unlock","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":740,"wires":[["ed88089b.94e448"]]},{"id":"ddd76ee4.a8006","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8eeff00b.099a2","type":"ui_group","z":"","name":"PZEM","tab":"8c49749.1838788","disp":true,"width":"4","collapse":false},{"id":"a84d487c.0c7558","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"mytank","name":"","usetls":false,"tls":""},{"id":"220413dd.a9d4dc","type":"ui_group","z":"","name":"Marcos","tab":"74d84887.fd0e28","disp":true,"width":"6","collapse":false},{"id":"8c49749.1838788","type":"ui_tab","z":"","name":"PZEM","icon":"dashboard","disabled":false,"hidden":false},{"id":"74d84887.fd0e28","type":"ui_tab","z":"","name":"Power","icon":"dashboard","order":8,"disabled":false,"hidden":false}]