node-red/data/flows.json
[{"id":"768828dd.adbf08","type":"tab","label":"pH Calibration","disabled":false,"info":""},{"id":"e3ac320a.23e6","type":"tab","label":"Data Storer","disabled":false,"info":""},{"id":"c446eb54.bd8b28","type":"tab","label":"Light Status","disabled":false,"info":""},{"id":"ddd76ee4.a8006","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a84d487c.0c7558","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"mytank","name":"","usetls":false,"tls":""},{"id":"5c83d84b.5d8108","type":"mqtt out","z":"768828dd.adbf08","name":"","topic":"cmd/dev1","qos":"","retain":"","broker":"ddd76ee4.a8006","x":317,"y":35,"wires":[]},{"id":"f5fd1f4c.5a44c","type":"inject","z":"768828dd.adbf08","name":"","topic":"","payload":"cmd_ph7cal","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":35,"wires":[["5c83d84b.5d8108"]]},{"id":"dde985da.922738","type":"mqtt out","z":"768828dd.adbf08","name":"","topic":"cmd/dev1","qos":"","retain":"","broker":"ddd76ee4.a8006","x":312,"y":112,"wires":[]},{"id":"9c60bf77.1f658","type":"inject","z":"768828dd.adbf08","name":"","topic":"","payload":"cmd_ph10cal","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108,"y":112,"wires":[["dde985da.922738"]]},{"id":"dbff7535.10df78","type":"mqtt out","z":"768828dd.adbf08","name":"","topic":"cmd/dev1","qos":"","retain":"","broker":"ddd76ee4.a8006","x":309,"y":193,"wires":[]},{"id":"8e806592.b097e8","type":"inject","z":"768828dd.adbf08","name":"","topic":"","payload":"cmd_reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":95,"y":193,"wires":[["dbff7535.10df78"]]},{"id":"13330925.7636e7","type":"mqtt in","z":"e3ac320a.23e6","name":"","topic":"data/dev1","qos":"2","datatype":"auto","broker":"ddd76ee4.a8006","x":146,"y":106,"wires":[["743b68bf.5940b8","580fb2db.fbb57c"]]},{"id":"743b68bf.5940b8","type":"debug","z":"e3ac320a.23e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":107,"wires":[]},{"id":"a12abde4.b0ed8","type":"influxdb out","z":"e3ac320a.23e6","influxdb":"a84d487c.0c7558","name":"","measurement":"ph_value","precision":"","retentionPolicy":"","x":514,"y":207,"wires":[]},{"id":"807928b6.7e71f8","type":"influxdb in","z":"e3ac320a.23e6","influxdb":"a84d487c.0c7558","name":"","query":"SELECT * FROM ph_value","rawOutput":false,"precision":"","retentionPolicy":"","x":517,"y":399,"wires":[["4b41b16f.6e702"]]},{"id":"7c643f26.5ab1b","type":"inject","z":"e3ac320a.23e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":171,"y":401,"wires":[["807928b6.7e71f8"]]},{"id":"4b41b16f.6e702","type":"debug","z":"e3ac320a.23e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":553,"y":499,"wires":[]},{"id":"580fb2db.fbb57c","type":"function","z":"e3ac320a.23e6","name":"","func":"p=JSON.parse(msg.payload);\nreturn {payload: p.ph};\n","outputs":1,"noerr":0,"x":259,"y":207,"wires":[["a12abde4.b0ed8"]]},{"id":"8cf90529.5b4248","type":"mqtt in","z":"768828dd.adbf08","name":"","topic":"event/dev1","qos":"2","datatype":"auto","broker":"ddd76ee4.a8006","x":104,"y":303,"wires":[["330ddd1d.577aa2"]]},{"id":"330ddd1d.577aa2","type":"debug","z":"768828dd.adbf08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":332,"y":301,"wires":[]},{"id":"77f51e46.7cd78","type":"inject","z":"c446eb54.bd8b28","name":"Add strong strains","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":60,"wires":[["4f70d755.368098"]]},{"id":"4f70d755.368098","type":"influxdb out","z":"c446eb54.bd8b28","influxdb":"a84d487c.0c7558","name":"","measurement":"add_strong_strains","precision":"","retentionPolicy":"","x":489,"y":60,"wires":[]},{"id":"884b848c.9f8288","type":"inject","z":"c446eb54.bd8b28","name":"Add fresh water with soda 10g","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":245,"y":134,"wires":[["6b672fa0.7f09d"]]},{"id":"6b672fa0.7f09d","type":"influxdb out","z":"c446eb54.bd8b28","influxdb":"a84d487c.0c7558","name":"","measurement":"add_fresh_water","precision":"","retentionPolicy":"","x":564,"y":133,"wires":[]},{"id":"81c5629f.b7696","type":"influxdb in","z":"c446eb54.bd8b28","influxdb":"a84d487c.0c7558","name":"","query":"SELECT * FROM main_light_value","rawOutput":false,"precision":"","retentionPolicy":"","x":535,"y":203,"wires":[["5a8c9f27.e76c7"]]},{"id":"48e965b2.11f21c","type":"inject","z":"c446eb54.bd8b28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":169,"y":205,"wires":[["81c5629f.b7696"]]},{"id":"5a8c9f27.e76c7","type":"debug","z":"c446eb54.bd8b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":551,"y":303,"wires":[]},{"id":"9a655646.5d70d8","type":"bigtimer","z":"c446eb54.bd8b28","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Main Light Status","comment":"","lat":"25.2","lon":"121.38","starttime":"720","endtime":"1260","starttime2":"0","endtime2":"0","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"1440","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":351,"y":498,"wires":[["24bd8e51.e55602"],[],[]]},{"id":"6299314e.2b4eb","type":"inject","z":"c446eb54.bd8b28","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":151,"y":558,"wires":[["9a655646.5d70d8"]]},{"id":"127a4873.0992f8","type":"inject","z":"c446eb54.bd8b28","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":151,"y":478,"wires":[["9a655646.5d70d8"]]},{"id":"c70dad3.af2275","type":"inject","z":"c446eb54.bd8b28","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":151,"y":518,"wires":[["9a655646.5d70d8"]]},{"id":"76f891d2.11a13","type":"influxdb out","z":"c446eb54.bd8b28","influxdb":"a84d487c.0c7558","name":"","measurement":"main_light_value","precision":"","retentionPolicy":"","x":831,"y":498,"wires":[]},{"id":"24bd8e51.e55602","type":"change","z":"c446eb54.bd8b28","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":561,"y":498,"wires":[["76f891d2.11a13"]]},{"id":"4e430d88.7c3314","type":"bigtimer","z":"c446eb54.bd8b28","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Refugium Light Status","comment":"","lat":"25.2","lon":"121.38","starttime":"1260","endtime":"720","starttime2":"0","endtime2":"0","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"1440","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":361,"y":658,"wires":[["23e9d172.f4f1fe"],[],[]]},{"id":"f439f5d.411c508","type":"inject","z":"c446eb54.bd8b28","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":151,"y":718,"wires":[["4e430d88.7c3314"]]},{"id":"ee19c35e.44c84","type":"inject","z":"c446eb54.bd8b28","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":151,"y":638,"wires":[["4e430d88.7c3314"]]},{"id":"7cc86f3b.a7bee","type":"inject","z":"c446eb54.bd8b28","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":151,"y":678,"wires":[["4e430d88.7c3314"]]},{"id":"e62d9eea.12ca5","type":"influxdb out","z":"c446eb54.bd8b28","influxdb":"a84d487c.0c7558","name":"","measurement":"refugium_light_value","precision":"","retentionPolicy":"","x":851,"y":658,"wires":[]},{"id":"23e9d172.f4f1fe","type":"change","z":"c446eb54.bd8b28","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":561,"y":658,"wires":[["e62d9eea.12ca5"]]}]