node-red/data/flows.json
[{"id":"43f8f15d.9ff2d","type":"tab","label":"pH Calibration","disabled":false,"info":""},{"id":"e0fc0814.40fea8","type":"tab","label":"Data Storer","disabled":false,"info":""},{"id":"52325de3.1bb7c4","type":"tab","label":"maintenance","disabled":false,"info":""},{"id":"b3246e04.21a09","type":"tab","label":"Water Detector","disabled":false,"info":""},{"id":"a35a4884.f4bd38","type":"tab","label":"Power Controller","disabled":false,"info":""},{"id":"63bdeae8.23caf4","type":"tab","label":"Manual Switch","disabled":false,"info":""},{"id":"b24af2e5.a816e","type":"tab","label":"Marcos","disabled":false,"info":""},{"id":"d8b2d98b.418398","type":"tab","label":"auto feeder","disabled":false,"info":""},{"id":"dff255e.ca9d3a8","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2d4d3f94.75e26","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"mytank","name":"","usetls":false,"tls":""},{"id":"6ce9e515.82b6cc","type":"ui_tab","z":"","name":"Power","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8e74a036.392d","type":"ui_group","z":"","name":"Switchs","tab":"6ce9e515.82b6cc","order":1,"disp":true,"width":6,"collapse":false},{"id":"22c2c311.61390c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"645e1d8.ca3b5e4","type":"ui_group","z":"","name":"Marcos","tab":"6ce9e515.82b6cc","order":2,"disp":true,"width":"6","collapse":false},{"id":"e5a7dbe9.544408","type":"ui_group","z":"","name":"PZEM","tab":"45a0107c.ef10a","order":null,"disp":true,"width":"6","collapse":false},{"id":"bf169103.c19b","type":"ui_group","z":"","name":"pH Calibration","tab":"b9d18acf.d02dd8","order":4,"disp":true,"width":"6","collapse":false},{"id":"b9d18acf.d02dd8","type":"ui_tab","z":"","name":"pH Calibration","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"45a0107c.ef10a","type":"ui_tab","z":"","name":"PZEM","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3e894c25.28d824","type":"mqtt out","z":"43f8f15d.9ff2d","name":"","topic":"cmd/dev1","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":380,"y":180,"wires":[]},{"id":"16e1724b.75477e","type":"inject","z":"43f8f15d.9ff2d","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cmd_ph7cal","payloadType":"str","x":150,"y":180,"wires":[["3e894c25.28d824"]]},{"id":"a993f704.4e26b8","type":"mqtt out","z":"43f8f15d.9ff2d","name":"","topic":"cmd/dev1","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":375,"y":257,"wires":[]},{"id":"12943bf6.465864","type":"inject","z":"43f8f15d.9ff2d","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cmd_ph10cal","payloadType":"str","x":171,"y":257,"wires":[["a993f704.4e26b8"]]},{"id":"46036760.dbf288","type":"mqtt out","z":"43f8f15d.9ff2d","name":"","topic":"cmd/dev1","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":372,"y":338,"wires":[]},{"id":"f93aa55b.626c78","type":"inject","z":"43f8f15d.9ff2d","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cmd_reset","payloadType":"str","x":158,"y":338,"wires":[["46036760.dbf288"]]},{"id":"ac808627.c5b6e8","type":"mqtt in","z":"43f8f15d.9ff2d","name":"","topic":"event/dev1","qos":"2","datatype":"auto","broker":"dff255e.ca9d3a8","x":143,"y":425,"wires":[["a62db3e7.89472"]]},{"id":"a62db3e7.89472","type":"debug","z":"43f8f15d.9ff2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":373,"y":425,"wires":[]},{"id":"6b63c8c4.328d28","type":"inject","z":"52325de3.1bb7c4","name":"Add strong strains","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":210,"y":60,"wires":[["a9aa00ca.1e90a"]]},{"id":"67625d4b.f085b4","type":"inject","z":"52325de3.1bb7c4","name":"Add fresh water with soda 10g","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":245,"y":134,"wires":[["211f67e0.8d9ad8"]]},{"id":"e330d7f2.d962f8","type":"inject","z":"52325de3.1bb7c4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":169,"y":205,"wires":[["3b71f4fa.de68bc"]]},{"id":"6d8af56c.29e9fc","type":"debug","z":"52325de3.1bb7c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":551,"y":303,"wires":[]},{"id":"1228ff3a.130cc1","type":"mqtt in","z":"e0fc0814.40fea8","name":"","topic":"data/dev1","qos":"2","datatype":"auto","broker":"dff255e.ca9d3a8","x":100,"y":80,"wires":[["e5752b35.c8c838","324aea2a.8f2936"]]},{"id":"e5752b35.c8c838","type":"debug","z":"e0fc0814.40fea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":140,"wires":[]},{"id":"324aea2a.8f2936","type":"function","z":"e0fc0814.40fea8","name":"process raw data","func":"var temp_offset=0;\np=JSON.parse(msg.payload);\nif (p.temp > 0) {\n    msg.payload = {\n        ph: p.ph,\n        temp: p.temp+temp_offset,\n        temp2: p.temp2\n    }\n}else{\n    msg.payload = {\n        ph: p.ph\n    }   \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":80,"wires":[["c3df6869.41b078"]]},{"id":"6e1750d1.03ed8","type":"inject","z":"e0fc0814.40fea8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":240,"wires":[["3464bb8c.ae1d54"]]},{"id":"e7d6317b.6417d","type":"debug","z":"e0fc0814.40fea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":240,"wires":[]},{"id":"d9ef0aa0.827098","type":"mqtt in","z":"b3246e04.21a09","name":"","topic":"event/WaterDetector","qos":"2","datatype":"auto","broker":"dff255e.ca9d3a8","x":150,"y":300,"wires":[["bb5d210b.0caed","5e0f83f.9b0e87c","be1f79e6.5901b8","48f437da.a98888"]]},{"id":"bb5d210b.0caed","type":"debug","z":"b3246e04.21a09","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":360,"wires":[]},{"id":"5e0f83f.9b0e87c","type":"function","z":"b3246e04.21a09","name":"process raw data","func":"p=JSON.parse(msg.payload);\nmsg.payload = {\n    voltage: p.voltage\n}   \nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["a1eda387.1d851"]]},{"id":"be1f79e6.5901b8","type":"function","z":"b3246e04.21a09","name":"send_ifttt_call","func":"var altering=global.get('altering') || false;\nif (!altering){\n    global.set('altering',true);\n    return msg;    \n}else{\n    return null;\n}\n\n\n\n","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["433d41d0.75d1c"]]},{"id":"1afeedd9.10b282","type":"function","z":"b3246e04.21a09","name":"Check Status","func":"global.set('altering',false);\nmsg.payload = \"Status is OK\"\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":420,"wires":[["dc0b81d0.119bc"]]},{"id":"433d41d0.75d1c","type":"http request","z":"b3246e04.21a09","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/water_detected/with/key/eiqIp7SgWyAOL9QL3OTO95ofFxAtHJW_3Gcq5T-7BWP","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":240,"wires":[["78c00e42.8e5d3"]]},{"id":"78c00e42.8e5d3","type":"debug","z":"b3246e04.21a09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":240,"wires":[]},{"id":"dc0b81d0.119bc","type":"debug","z":"b3246e04.21a09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":420,"wires":[]},{"id":"191e53e3.a1a3ec","type":"inject","z":"a35a4884.f4bd38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":790,"y":180,"wires":[["3448c721.d1ed28"]]},{"id":"1c07e863.86cc28","type":"inject","z":"a35a4884.f4bd38","name":"","props":[{"p":"payload","v":"on","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":790,"y":100,"wires":[["3448c721.d1ed28"]]},{"id":"e81d4dda.21cc5","type":"inject","z":"a35a4884.f4bd38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":790,"y":140,"wires":[["3448c721.d1ed28"]]},{"id":"78c48b1a.43e494","type":"debug","z":"a35a4884.f4bd38","name":"m1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":80,"wires":[]},{"id":"725d53c5.975d8c","type":"debug","z":"a35a4884.f4bd38","name":"m2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":120,"wires":[]},{"id":"9825dd25.dfdb7","type":"mqtt in","z":"63bdeae8.23caf4","name":"","topic":"cmd/relaybox/switch1","qos":"2","datatype":"auto","broker":"dff255e.ca9d3a8","x":160,"y":1760,"wires":[["6b74e302.acbd0c"]]},{"id":"6b74e302.acbd0c","type":"debug","z":"63bdeae8.23caf4","name":"arduino_debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":400,"y":1760,"wires":[]},{"id":"82f326e3.c1cfb8","type":"inject","z":"63bdeae8.23caf4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":1900,"wires":[["869b6cde.b3204"]]},{"id":"869b6cde.b3204","type":"mqtt out","z":"63bdeae8.23caf4","name":"","topic":"status/relaybox/switch1","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":370,"y":1860,"wires":[]},{"id":"972f5326.f706c","type":"inject","z":"63bdeae8.23caf4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":1840,"wires":[["869b6cde.b3204"]]},{"id":"25ac1a69.0aaeb6","type":"comment","z":"63bdeae8.23caf4","name":"simulate Arduino","info":"","x":140,"y":1700,"wires":[]},{"id":"7f871b6c.f7fb94","type":"mqtt out","z":"63bdeae8.23caf4","name":"","topic":"cmd/relaybox/switch4","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":800,"y":500,"wires":[]},{"id":"7d09a1dd.bfa61","type":"mqtt in","z":"63bdeae8.23caf4","name":"","topic":"status/relaybox/switch4","qos":"2","datatype":"json","broker":"dff255e.ca9d3a8","x":140,"y":480,"wires":[["ec10a4bd.3b58c8","df94516c.06976"]]},{"id":"835ea304.1cd33","type":"function","z":"63bdeae8.23caf4","name":"switch4","func":"var name=node.name;\n\nvar old_switch=global.get(name)||0;\nvar new_switch=msg.payload;\nif (old_switch!=new_switch){\n    global.set(name,new_switch);\n    return msg;    \n}\n\n","outputs":1,"noerr":0,"x":620,"y":500,"wires":[["7f871b6c.f7fb94"]]},{"id":"b3ae9c67.872a6","type":"mqtt out","z":"63bdeae8.23caf4","name":"","topic":"cmd/relaybox/switch5","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":800,"y":660,"wires":[]},{"id":"c37832e7.b4523","type":"mqtt in","z":"63bdeae8.23caf4","name":"","topic":"status/relaybox/switch5","qos":"2","datatype":"json","broker":"dff255e.ca9d3a8","x":140,"y":640,"wires":[["36d13fb.716f3c","1383e42.433ea1c"]]},{"id":"9039efc2.4eb84","type":"function","z":"63bdeae8.23caf4","name":"switch5","func":"var name=node.name;\n\nvar old_switch=global.get(name)||0;\nvar new_switch=msg.payload;\nif (old_switch!=new_switch){\n    global.set(name,new_switch);\n    return msg;    \n}\n\n","outputs":1,"noerr":0,"x":620,"y":660,"wires":[["b3ae9c67.872a6"]]},{"id":"a34f7de0.79c3","type":"mqtt out","z":"a35a4884.f4bd38","name":"","topic":"cmd/relaybox/switch1","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":1260,"y":160,"wires":[]},{"id":"52c238c4.16a4a8","type":"inject","z":"a35a4884.f4bd38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":1340,"wires":[["b7e8bc8d.131a3"]]},{"id":"b7e8bc8d.131a3","type":"mqtt out","z":"a35a4884.f4bd38","name":"","topic":"status/relaybox/switch1","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":420,"y":1340,"wires":[]},{"id":"b4472ea3.27697","type":"inject","z":"a35a4884.f4bd38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":1380,"wires":[["b7e8bc8d.131a3"]]},{"id":"ec0da1b.cfd2b6","type":"comment","z":"a35a4884.f4bd38","name":"Send status only for test","info":"","x":150,"y":1300,"wires":[]},{"id":"94ab3d79.e1b17","type":"inject","z":"a35a4884.f4bd38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":270,"y":460,"wires":[["26d0dd39.8818a2"]]},{"id":"a19b1228.1fbbe","type":"inject","z":"a35a4884.f4bd38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":270,"y":380,"wires":[["26d0dd39.8818a2"]]},{"id":"ab64a93c.fdd4f8","type":"inject","z":"a35a4884.f4bd38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":270,"y":420,"wires":[["26d0dd39.8818a2"]]},{"id":"a5888f5f.48d99","type":"debug","z":"a35a4884.f4bd38","name":"m1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":360,"wires":[]},{"id":"2255d25a.5190ee","type":"debug","z":"a35a4884.f4bd38","name":"m2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":400,"wires":[]},{"id":"d81adebf.b765d","type":"mqtt out","z":"a35a4884.f4bd38","name":"","topic":"cmd/relaybox/switch2","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":740,"y":440,"wires":[]},{"id":"9f74e4ca.d7b588","type":"mqtt out","z":"a35a4884.f4bd38","name":"","topic":"cmd/relaybox/switch8","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":760,"y":940,"wires":[]},{"id":"edef6955.14f1f8","type":"inject","z":"a35a4884.f4bd38","name":"every 3 hours","repeat":"10800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":940,"wires":[["3bf34afc.0c7126","6f22463c.04c358"]]},{"id":"6f22463c.04c358","type":"delay","z":"a35a4884.f4bd38","name":"Delay 1 hour","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":1000,"wires":[["1774bb5b.a4b1f5"]]},{"id":"3bf34afc.0c7126","type":"function","z":"a35a4884.f4bd38","name":"turn on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":940,"wires":[["9f74e4ca.d7b588"]]},{"id":"1774bb5b.a4b1f5","type":"function","z":"a35a4884.f4bd38","name":"turn off","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1000,"wires":[["9f74e4ca.d7b588"]]},{"id":"c01bdbeb.7008e8","type":"mqtt out","z":"63bdeae8.23caf4","name":"","topic":"cmd/relaybox/switch6","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":800,"y":840,"wires":[]},{"id":"fdd1c83e.7c4348","type":"mqtt in","z":"63bdeae8.23caf4","name":"","topic":"status/relaybox/switch6","qos":"2","datatype":"json","broker":"dff255e.ca9d3a8","x":140,"y":820,"wires":[["22f7681d.be2888","cdb3f626.7238b8"]]},{"id":"ab552f2d.92ef1","type":"function","z":"63bdeae8.23caf4","name":"switch6","func":"var name=node.name;\n\nvar old_switch=global.get(name)||0;\nvar new_switch=msg.payload;\nif (old_switch!=new_switch){\n    global.set(name,new_switch);\n    return msg;    \n}\n\n","outputs":1,"noerr":0,"x":620,"y":840,"wires":[["c01bdbeb.7008e8"]]},{"id":"934dcb13.d81f78","type":"mqtt out","z":"63bdeae8.23caf4","name":"","topic":"cmd/relaybox/switch7","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":800,"y":1000,"wires":[]},{"id":"e8c6bb94.63b578","type":"mqtt in","z":"63bdeae8.23caf4","name":"","topic":"status/relaybox/switch7","qos":"2","datatype":"json","broker":"dff255e.ca9d3a8","x":140,"y":980,"wires":[["b1ad5fce.a17a","a0dd98e.02e1568"]]},{"id":"364ccc9c.58b6f4","type":"function","z":"63bdeae8.23caf4","name":"switch7","func":"var name=node.name;\n\nvar old_switch=global.get(name)||0;\nvar new_switch=msg.payload;\nif (old_switch!=new_switch){\n    global.set(name,new_switch);\n    return msg;    \n}\n\n","outputs":1,"noerr":0,"x":620,"y":1000,"wires":[["934dcb13.d81f78"]]},{"id":"3b244e5a.eea802","type":"mqtt out","z":"63bdeae8.23caf4","name":"","topic":"cmd/relaybox/switch8","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":800,"y":1180,"wires":[]},{"id":"9469351e.cdc8f8","type":"mqtt in","z":"63bdeae8.23caf4","name":"","topic":"status/relaybox/switch8","qos":"2","datatype":"json","broker":"dff255e.ca9d3a8","x":140,"y":1160,"wires":[["207c6ffe.cc73","55e3eb25.656ab4"]]},{"id":"fe0e44a2.88c278","type":"function","z":"63bdeae8.23caf4","name":"switch8","func":"var name=node.name;\n\nvar old_switch=global.get(name)||0;\nvar new_switch=msg.payload;\nif (old_switch!=new_switch){\n    global.set(name,new_switch);\n    return msg;    \n}\n\n","outputs":1,"noerr":0,"x":620,"y":1180,"wires":[["3b244e5a.eea802"]]},{"id":"837dc903.a504d8","type":"mqtt out","z":"a35a4884.f4bd38","name":"","topic":"cmd/relaybox/pzem","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":360,"y":1180,"wires":[]},{"id":"2d0fba7d.1afe06","type":"inject","z":"a35a4884.f4bd38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"turn off","payloadType":"str","x":350,"y":1060,"wires":[["1774bb5b.a4b1f5"]]},{"id":"f70d5558.6487c8","type":"mqtt out","z":"b24af2e5.a816e","name":"","topic":"cmd/relaybox/switch5","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":740,"y":180,"wires":[]},{"id":"a96762e7.225a9","type":"delay","z":"b24af2e5.a816e","name":"Delay 10 mins","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":120,"wires":[["8eedbe13.e2e5a"]]},{"id":"2e3276e1.82aa0a","type":"function","z":"b24af2e5.a816e","name":"turn off","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["f70d5558.6487c8","ec8be5b8.a40468","7b0a7e45.bc322"]]},{"id":"8eedbe13.e2e5a","type":"function","z":"b24af2e5.a816e","name":"turn on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":120,"wires":[["f70d5558.6487c8"]]},{"id":"12580765.fce7a9","type":"comment","z":"b24af2e5.a816e","name":"feeding","info":"","x":90,"y":140,"wires":[]},{"id":"7b0a7e45.bc322","type":"mqtt out","z":"b24af2e5.a816e","name":"","topic":"cmd/relaybox/switch6","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":740,"y":220,"wires":[]},{"id":"ec8be5b8.a40468","type":"mqtt out","z":"b24af2e5.a816e","name":"","topic":"cmd/relaybox/switch4","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":740,"y":140,"wires":[]},{"id":"3ed07b53.648624","type":"comment","z":"b24af2e5.a816e","name":"water change","info":"","x":110,"y":380,"wires":[]},{"id":"2c9f1846.5efcc8","type":"delay","z":"b24af2e5.a816e","name":"Delay 2 hours","pauseType":"delay","timeout":"2","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":980,"wires":[["3c13351a.cb22aa"]]},{"id":"9d8fef03.97111","type":"function","z":"b24af2e5.a816e","name":"turn off","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":920,"wires":[["2dce92d7.7fffce"]]},{"id":"3c13351a.cb22aa","type":"function","z":"b24af2e5.a816e","name":"turn on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":980,"wires":[["2dce92d7.7fffce"]]},{"id":"aaf79017.2b3e","type":"inject","z":"b24af2e5.a816e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"turn on manually","payloadType":"str","x":380,"y":1040,"wires":[["3c13351a.cb22aa"]]},{"id":"2069896d.fa64e6","type":"comment","z":"b24af2e5.a816e","name":"pause skimmer 2 hours","info":"","x":140,"y":880,"wires":[]},{"id":"2dce92d7.7fffce","type":"mqtt out","z":"b24af2e5.a816e","name":"","topic":"cmd/relaybox/switch6","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":740,"y":920,"wires":[]},{"id":"14cfb8c0.ccd087","type":"inject","z":"a35a4884.f4bd38","name":"Reset everyday","props":[{"p":"payload","v":"reset","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"reset","payloadType":"str","x":140,"y":1160,"wires":[["837dc903.a504d8"]]},{"id":"2d8f5bd1.ee88b4","type":"comment","z":"a35a4884.f4bd38","name":"timer 1","info":"","x":90,"y":40,"wires":[]},{"id":"a93f3eab.53edc","type":"comment","z":"a35a4884.f4bd38","name":"timer 2","info":"","x":90,"y":320,"wires":[]},{"id":"9857183a.362748","type":"comment","z":"a35a4884.f4bd38","name":"timer 8  refugium_powerhead","info":"","x":180,"y":900,"wires":[]},{"id":"4d87f4fa.920dfc","type":"mqtt in","z":"a35a4884.f4bd38","name":"","topic":"power/relaybox/","qos":"2","datatype":"auto","broker":"dff255e.ca9d3a8","x":120,"y":580,"wires":[["6a28931a.87e4dc"]]},{"id":"5ff03a1.590c2c4","type":"comment","z":"a35a4884.f4bd38","name":"fan control 3","info":"","x":110,"y":540,"wires":[]},{"id":"e32ee556.c93d78","type":"mqtt out","z":"a35a4884.f4bd38","name":"","topic":"cmd/relaybox/switch3","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":900,"y":620,"wires":[]},{"id":"6a28931a.87e4dc","type":"function","z":"a35a4884.f4bd38","name":"calcualte if chiller is working","func":"p=JSON.parse(msg.payload);\n\npower = p.p;\nvar hour = new Date().getHours();\n\n//HQI light or not\nif (hour>=11 && hour<22) {\n    power = power - 200;\n}else{\n    power = power - 42;\n}\n\nif (power > 200){\n    msg.payload=1;\n    return msg;\n}else{\n    msg.payload=0;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":420,"y":580,"wires":[["8e3be04b.15c4"]]},{"id":"4cc7258c.35678c","type":"inject","z":"a35a4884.f4bd38","name":"","props":[{"p":"payload","v":"turn on","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"turn on","payloadType":"str","x":170,"y":1000,"wires":[["3bf34afc.0c7126"]]},{"id":"975037b0.73a0f8","type":"mqtt in","z":"63bdeae8.23caf4","name":"","topic":"status/relaybox/switch1","qos":"2","datatype":"json","broker":"dff255e.ca9d3a8","x":140,"y":80,"wires":[["b86f67e2.7eabb8","354d2726.f1eec8"]]},{"id":"54a5a6f7.e11c78","type":"mqtt in","z":"63bdeae8.23caf4","name":"","topic":"status/relaybox/switch2","qos":"2","datatype":"json","broker":"dff255e.ca9d3a8","x":140,"y":180,"wires":[["df47b667.3aba48","e229dc61.5ce1c"]]},{"id":"9704563a.350278","type":"mqtt in","z":"63bdeae8.23caf4","name":"","topic":"status/relaybox/switch3","qos":"2","datatype":"json","broker":"dff255e.ca9d3a8","x":140,"y":320,"wires":[["6ebb5a4e.8280c4","9fa98d83.7a7ef"]]},{"id":"8e3be04b.15c4","type":"function","z":"a35a4884.f4bd38","name":"switch3","func":"var on_override=global.get(\"on_override3\")||false;\n\nif (on_override){\n    msg.payload=1;\n    return msg;\n}else{\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":620,"wires":[["e32ee556.c93d78"]]},{"id":"a4725da3.4993e","type":"function","z":"a35a4884.f4bd38","name":"lock","func":"//set locked = true\nglobal.set(\"on_override3\",true);\n\n\n","outputs":1,"noerr":0,"x":450,"y":680,"wires":[["8e3be04b.15c4"]]},{"id":"5bd526e3.dd46d8","type":"delay","z":"a35a4884.f4bd38","name":"Delay 10 min","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":740,"wires":[["d4ed0c56.bf249"]]},{"id":"d4ed0c56.bf249","type":"function","z":"a35a4884.f4bd38","name":"unlock","func":"//set locked = true\nglobal.set(\"on_override3\",false);\n\n\n","outputs":1,"noerr":0,"x":630,"y":740,"wires":[[]]},{"id":"3a5d4d6b.8fe392","type":"inject","z":"a35a4884.f4bd38","name":"unlock","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":800,"wires":[["d4ed0c56.bf249"]]},{"id":"7df1ce0.396ba34","type":"delay","z":"b24af2e5.a816e","name":"Delay 12 mins","pauseType":"delay","timeout":"12","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":240,"wires":[["ed02a41c.af3b48"]]},{"id":"ed02a41c.af3b48","type":"function","z":"b24af2e5.a816e","name":"turn on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":240,"wires":[["7b0a7e45.bc322","ec8be5b8.a40468"]]},{"id":"615e4717.a5b6b8","type":"mqtt out","z":"b24af2e5.a816e","name":"","topic":"cmd/relaybox/switch5","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":760,"y":420,"wires":[]},{"id":"ee1ab6c4.9e0d38","type":"delay","z":"b24af2e5.a816e","name":"Delay 20 mins","pauseType":"delay","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":360,"wires":[["4fd8a722.ba5348"]]},{"id":"30c76b7f.d6f2f4","type":"function","z":"b24af2e5.a816e","name":"turn off","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":420,"wires":[["615e4717.a5b6b8","b98756b9.b431a8","aae95fac.426f7"]]},{"id":"4fd8a722.ba5348","type":"function","z":"b24af2e5.a816e","name":"turn on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":360,"wires":[["615e4717.a5b6b8"]]},{"id":"aae95fac.426f7","type":"mqtt out","z":"b24af2e5.a816e","name":"","topic":"cmd/relaybox/switch6","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":760,"y":460,"wires":[]},{"id":"b98756b9.b431a8","type":"mqtt out","z":"b24af2e5.a816e","name":"","topic":"cmd/relaybox/switch4","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":760,"y":380,"wires":[]},{"id":"352b384d.554648","type":"delay","z":"b24af2e5.a816e","name":"Delay 22 mins","pauseType":"delay","timeout":"22","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":480,"wires":[["aadd404d.37f48"]]},{"id":"aadd404d.37f48","type":"function","z":"b24af2e5.a816e","name":"turn on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":480,"wires":[["aae95fac.426f7","b98756b9.b431a8"]]},{"id":"59c17b8d.14d734","type":"inject","z":"a35a4884.f4bd38","name":"turn on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":650,"y":540,"wires":[["8e3be04b.15c4"]]},{"id":"b4b114b1.2d9f88","type":"mqtt out","z":"d8b2d98b.418398","name":"","topic":"cmd/auto_feeder/","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":410,"y":140,"wires":[]},{"id":"6f49296f.7b8a28","type":"inject","z":"d8b2d98b.418398","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"run","payloadType":"str","x":150,"y":140,"wires":[["b4b114b1.2d9f88"]]},{"id":"93e47a90.a470d8","type":"mqtt in","z":"d8b2d98b.418398","name":"","topic":"status/auto_feeder/","qos":"2","datatype":"auto","broker":"dff255e.ca9d3a8","x":190,"y":260,"wires":[["8666c2f6.11783"]]},{"id":"8666c2f6.11783","type":"debug","z":"d8b2d98b.418398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":260,"wires":[]},{"id":"a9aa00ca.1e90a","type":"influxdb out","z":"52325de3.1bb7c4","influxdb":"2d4d3f94.75e26","name":"","measurement":"add_strong_strains","precision":"","retentionPolicy":"","x":589,"y":60,"wires":[]},{"id":"211f67e0.8d9ad8","type":"influxdb out","z":"52325de3.1bb7c4","influxdb":"2d4d3f94.75e26","name":"","measurement":"add_fresh_water","precision":"","retentionPolicy":"","x":654,"y":133,"wires":[]},{"id":"c3df6869.41b078","type":"influxdb out","z":"e0fc0814.40fea8","influxdb":"2d4d3f94.75e26","name":"","measurement":"dev1","precision":"","retentionPolicy":"","x":535,"y":80,"wires":[],"l":false},{"id":"a1eda387.1d851","type":"influxdb out","z":"b3246e04.21a09","influxdb":"2d4d3f94.75e26","name":"","measurement":"WaterDetector","precision":"","retentionPolicy":"","x":740,"y":300,"wires":[]},{"id":"df94516c.06976","type":"influxdb out","z":"63bdeae8.23caf4","influxdb":"2d4d3f94.75e26","name":"","measurement":"RelayStatus4","precision":"","retentionPolicy":"","x":500,"y":460,"wires":[]},{"id":"1383e42.433ea1c","type":"influxdb out","z":"63bdeae8.23caf4","influxdb":"2d4d3f94.75e26","name":"","measurement":"RelayStatus5","precision":"","retentionPolicy":"","x":500,"y":620,"wires":[]},{"id":"cdb3f626.7238b8","type":"influxdb out","z":"63bdeae8.23caf4","influxdb":"2d4d3f94.75e26","name":"","measurement":"RelayStatus6","precision":"","retentionPolicy":"","x":500,"y":800,"wires":[]},{"id":"a0dd98e.02e1568","type":"influxdb out","z":"63bdeae8.23caf4","influxdb":"2d4d3f94.75e26","name":"","measurement":"RelayStatus7","precision":"","retentionPolicy":"","x":500,"y":960,"wires":[]},{"id":"55e3eb25.656ab4","type":"influxdb out","z":"63bdeae8.23caf4","influxdb":"2d4d3f94.75e26","name":"","measurement":"RelayStatus8","precision":"","retentionPolicy":"","x":500,"y":1140,"wires":[]},{"id":"b86f67e2.7eabb8","type":"influxdb out","z":"63bdeae8.23caf4","influxdb":"2d4d3f94.75e26","name":"","measurement":"RelayStatus1","precision":"","retentionPolicy":"","x":500,"y":60,"wires":[]},{"id":"df47b667.3aba48","type":"influxdb out","z":"63bdeae8.23caf4","influxdb":"2d4d3f94.75e26","name":"","measurement":"RelayStatus2","precision":"","retentionPolicy":"","x":500,"y":160,"wires":[]},{"id":"6ebb5a4e.8280c4","type":"influxdb out","z":"63bdeae8.23caf4","influxdb":"2d4d3f94.75e26","name":"","measurement":"RelayStatus3","precision":"","retentionPolicy":"","x":500,"y":300,"wires":[]},{"id":"3b71f4fa.de68bc","type":"influxdb in","z":"52325de3.1bb7c4","influxdb":"2d4d3f94.75e26","name":"","query":"SELECT * FROM main_light_value","rawOutput":false,"precision":"","retentionPolicy":"","x":685,"y":203,"wires":[["6d8af56c.29e9fc"]]},{"id":"3464bb8c.ae1d54","type":"influxdb in","z":"e0fc0814.40fea8","influxdb":"2d4d3f94.75e26","name":"","query":"SELECT * FROM dev1","rawOutput":false,"precision":"","retentionPolicy":"","x":560,"y":240,"wires":[["e7d6317b.6417d"]]},{"id":"3448c721.d1ed28","type":"bigtimer","z":"a35a4884.f4bd38","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Main Light Timer","comment":"","lat":"25.2","lon":"121.38","starttime":"540","endtime":"1350","starttime2":"0","endtime2":"0","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"1440","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":990,"y":120,"wires":[["78c48b1a.43e494"],["725d53c5.975d8c"],[]]},{"id":"26d0dd39.8818a2","type":"bigtimer","z":"a35a4884.f4bd38","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Refugium Light Timer","comment":"","lat":"25.2","lon":"121.38","starttime":"600","endtime":"1380","starttime2":"0","endtime2":"0","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"10","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":480,"y":400,"wires":[["a5888f5f.48d99"],["2255d25a.5190ee","d81adebf.b765d"],[]]},{"id":"ec10a4bd.3b58c8","type":"ui_switch","z":"63bdeae8.23caf4","name":"","label":"4_powerhead","tooltip":"","group":"8e74a036.392d","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":360,"y":500,"wires":[["835ea304.1cd33"]]},{"id":"36d13fb.716f3c","type":"ui_switch","z":"63bdeae8.23caf4","name":"","label":"5_return_pump","tooltip":"","group":"8e74a036.392d","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":360,"y":660,"wires":[["9039efc2.4eb84"]]},{"id":"22f7681d.be2888","type":"ui_switch","z":"63bdeae8.23caf4","name":"","label":"6_skimmer","tooltip":"","group":"8e74a036.392d","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":350,"y":840,"wires":[["ab552f2d.92ef1"]]},{"id":"b1ad5fce.a17a","type":"ui_switch","z":"63bdeae8.23caf4","name":"","label":"7_chiller","tooltip":"","group":"8e74a036.392d","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":340,"y":1000,"wires":[["364ccc9c.58b6f4"]]},{"id":"207c6ffe.cc73","type":"ui_switch","z":"63bdeae8.23caf4","name":"","label":"8_refugium_powerhead","tooltip":"","group":"8e74a036.392d","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":390,"y":1180,"wires":[["fe0e44a2.88c278"]]},{"id":"570a6212.71f44c","type":"ui_button","z":"a35a4884.f4bd38","name":"","group":"e5a7dbe9.544408","order":0,"width":0,"height":0,"passthru":false,"label":"Reset Energy","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":130,"y":1220,"wires":[["837dc903.a504d8"]]},{"id":"4bc9cbaf.acaf34","type":"ui_button","z":"b24af2e5.a816e","name":"","group":"645e1d8.ca3b5e4","order":1,"width":0,"height":0,"passthru":false,"label":"feeding","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":100,"y":180,"wires":[["2e3276e1.82aa0a","a96762e7.225a9","7df1ce0.396ba34"]]},{"id":"308aa9c6.723166","type":"ui_button","z":"b24af2e5.a816e","name":"","group":"645e1d8.ca3b5e4","order":4,"width":0,"height":0,"passthru":false,"label":"water change","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":120,"y":420,"wires":[["ee1ab6c4.9e0d38","30c76b7f.d6f2f4","352b384d.554648"]]},{"id":"66f1dfd9.7815e","type":"ui_button","z":"b24af2e5.a816e","name":"","group":"645e1d8.ca3b5e4","order":5,"width":0,"height":0,"passthru":false,"label":"pause skimmer 2 hours","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":150,"y":920,"wires":[["9d8fef03.97111","2c9f1846.5efcc8"]]},{"id":"5b8abe1e.2d773","type":"ui_button","z":"43f8f15d.9ff2d","name":"","group":"bf169103.c19b","order":0,"width":0,"height":0,"passthru":false,"label":"Cal pH7","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cmd_ph7cal","payloadType":"str","topic":"","x":160,"y":140,"wires":[["3e894c25.28d824"]]},{"id":"cbfe4e1.ecd2cb","type":"ui_button","z":"43f8f15d.9ff2d","name":"","group":"bf169103.c19b","order":0,"width":0,"height":0,"passthru":false,"label":"Cal pH10","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cmd_ph10cal","payloadType":"str","topic":"","x":160,"y":220,"wires":[["a993f704.4e26b8"]]},{"id":"e487dd67.80d02","type":"ui_button","z":"43f8f15d.9ff2d","name":"","group":"bf169103.c19b","order":0,"width":0,"height":0,"passthru":false,"label":"Reset to Default","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cmd_reset","payloadType":"str","topic":"","x":160,"y":300,"wires":[["46036760.dbf288"]]},{"id":"5054ce5c.58ede","type":"ui_button","z":"a35a4884.f4bd38","name":"","group":"645e1d8.ca3b5e4","order":2,"width":0,"height":0,"passthru":false,"label":"Turn On Refugium Light for 10 mins","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":340,"y":340,"wires":[["26d0dd39.8818a2"]]},{"id":"fb3e8469.8c0228","type":"ui_button","z":"a35a4884.f4bd38","name":"","group":"645e1d8.ca3b5e4","order":3,"width":0,"height":0,"passthru":false,"label":"Turn On Fan for 10 mins","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":190,"y":680,"wires":[["a4725da3.4993e","5bd526e3.dd46d8"]]},{"id":"ac0ae34f.ddb16","type":"ui_template","z":"43f8f15d.9ff2d","group":"bf169103.c19b","name":"校正程序","order":1,"width":0,"height":0,"format":"<p>1. 探棒請先用一般冷開水洗乾淨後，以面紙吸乾（勿使用粗糙衛生紙），切忌不要旋轉擦拭，否則將會永久損壞探棒鍍膜，嚴重影響精準度！</p>\n<p>2. 將探棒放入 pH7 校正液至少深入 1.5cm 靜待 20 秒，再按下按鈕 \"CAL PH7\", 10 秒後(閃動 LED 三次) 取得平均值 V1</p>\n<p>3. 將探棒放入 pH10 校正液至少深入 1.5cm 靜待 20 秒，再按下按鈕 \"CAL PH10\", 10 秒後(閃動 LED 三次) 取得平均值 V2, 即完成校正</p>\n<p>4. pH7、pH10 校正順序不可顛倒，兩種校正必須一次作完，否則請按下按鈕 \"RESET TO DEFAULT\" 後，等候一分鐘，從步驟 2 開始重做</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":100,"y":80,"wires":[[]]},{"id":"48f437da.a98888","type":"mytimeout","z":"b3246e04.21a09","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"timeout","warning":"5","timer":"60","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":370,"y":420,"wires":[["1afeedd9.10b282"],[]]},{"id":"e229dc61.5ce1c","type":"ui_led","z":"63bdeae8.23caf4","group":"8e74a036.392d","order":2,"width":0,"height":0,"label":"2_refugium_light","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"2_refugium_light","x":440,"y":220,"wires":[]},{"id":"9fa98d83.7a7ef","type":"ui_led","z":"63bdeae8.23caf4","group":"8e74a036.392d","order":3,"width":0,"height":0,"label":"3_fan","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"3_fan","x":410,"y":340,"wires":[]},{"id":"354d2726.f1eec8","type":"ui_led","z":"63bdeae8.23caf4","group":"8e74a036.392d","order":1,"width":0,"height":0,"label":"1_main_light","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"1_main_light","x":430,"y":100,"wires":[]},{"id":"5e0faa3d.cc3ea4","type":"comment","z":"e0fc0814.40fea8","name":"ph, temperature","info":"","x":120,"y":40,"wires":[]},{"id":"7720c97e.f04ca8","type":"mqtt in","z":"e0fc0814.40fea8","name":"","topic":"data/samuelpi4/temperature","qos":"2","datatype":"auto","broker":"dff255e.ca9d3a8","x":180,"y":400,"wires":[["8d3b56c.07392a8","2db5c05.4b67e4"]]},{"id":"ca7b24fd.41ab88","type":"influxdb out","z":"e0fc0814.40fea8","influxdb":"2d4d3f94.75e26","name":"","measurement":"samuelpi4_temp","precision":"","retentionPolicy":"","x":655,"y":380,"wires":[],"l":false},{"id":"8d3b56c.07392a8","type":"debug","z":"e0fc0814.40fea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":460,"wires":[]},{"id":"2db5c05.4b67e4","type":"function","z":"e0fc0814.40fea8","name":"process raw data","func":"p=JSON.parse(msg.payload);\nif (p.temp > 0) {\n    msg.payload = {\n        temp: p.temp\n    }\n    return msg;\n}else{\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":380,"wires":[["ca7b24fd.41ab88"]]},{"id":"c7a810d.75336f","type":"comment","z":"e0fc0814.40fea8","name":"pi4 temperature","info":"","x":120,"y":360,"wires":[]},{"id":"c18575d8.6189e8","type":"mqtt in","z":"e0fc0814.40fea8","name":"","topic":"power/relaybox/","qos":"2","datatype":"auto","broker":"dff255e.ca9d3a8","x":140,"y":800,"wires":[["8f810c2c.46c58","de61ef20.ed01f"]]},{"id":"8f810c2c.46c58","type":"debug","z":"e0fc0814.40fea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":860,"wires":[]},{"id":"de61ef20.ed01f","type":"function","z":"e0fc0814.40fea8","name":"process raw data","func":"p=JSON.parse(msg.payload);\n// msg.payload = {\n//     v: p.v,\n//     i: p.i,\n//     p: p.p,\n//     e: p.e\n//}   \nmsg.payload = {\n    v: p.v,\n    i: p.i,\n    p: p.p,\n    e: p.e,\n    f: p.f,\n    pf: p.pf\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":800,"wires":[["76cbac5a.de2654"]]},{"id":"858017a9.3c38a8","type":"comment","z":"e0fc0814.40fea8","name":"power report: real time","info":"","x":160,"y":720,"wires":[]},{"id":"76cbac5a.de2654","type":"influxdb out","z":"e0fc0814.40fea8","influxdb":"2d4d3f94.75e26","name":"","measurement":"power","precision":"","retentionPolicy":"","x":640,"y":800,"wires":[]},{"id":"30ba317e.7bfa3e","type":"influxdb in","z":"e0fc0814.40fea8","influxdb":"2d4d3f94.75e26","name":"exec query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":590,"y":980,"wires":[["4f0f510e.d5f97","8a3f1b1e.189248"]]},{"id":"4f0f510e.d5f97","type":"debug","z":"e0fc0814.40fea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":980,"wires":[]},{"id":"c1c7857d.23edf8","type":"function","z":"e0fc0814.40fea8","name":"make query string","func":"\nvar date = new Date();\nvar firstDay = new Date(date.getFullYear(), date.getMonth()-1, 1).getTime()*1000000;\nvar lastDay = new Date(date.getFullYear(), date.getMonth(), 0).getTime()*1000000;\n\nmsg.query = \"select sum(daily_power) from daily_power where time >= \"+firstDay+\" AND time <\" + lastDay+\";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":980,"wires":[["30ba317e.7bfa3e"]]},{"id":"c529f497.fda568","type":"cronplus","z":"e0fc0814.40fea8","name":"Cron-Monthly","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 30 0 1 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":150,"y":980,"wires":[["c1c7857d.23edf8"]]},{"id":"8a3f1b1e.189248","type":"influxdb out","z":"e0fc0814.40fea8","influxdb":"2d4d3f94.75e26","name":"","measurement":"monthly_power","precision":"","retentionPolicy":"","x":870,"y":1040,"wires":[]},{"id":"777cf28.b5edc0c","type":"comment","z":"e0fc0814.40fea8","name":"power report: Monthly, while daily is done by InfluxDB CQ","info":"","x":270,"y":940,"wires":[]},{"id":"45f77635.ddc578","type":"ui_button","z":"a35a4884.f4bd38","name":"","group":"645e1d8.ca3b5e4","order":3,"width":0,"height":0,"passthru":false,"label":"Turn On Fan for 1 hr","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":200,"y":740,"wires":[["a4725da3.4993e","c6c212b1.ac6"]]},{"id":"c6c212b1.ac6","type":"delay","z":"a35a4884.f4bd38","name":"Delay 1 hr","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":840,"wires":[["d4ed0c56.bf249"]]},{"id":"856a5c31.354f2","type":"function","z":"e0fc0814.40fea8","name":"process raw data","func":"p=JSON.parse(msg.payload);\nif (p.rpm > 0) {\n    msg.payload = {\n        rpm: p.rpm\n    }\n    return msg;\n}else{\n    return null\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":540,"wires":[["fe11121c.efe67"]]},{"id":"750dcdc8.1843e4","type":"mqtt in","z":"e0fc0814.40fea8","name":"","topic":"data/samuelpi4/rpm","qos":"2","datatype":"auto","broker":"dff255e.ca9d3a8","x":150,"y":560,"wires":[["856a5c31.354f2","58a67ecc.0c269"]]},{"id":"fe11121c.efe67","type":"influxdb out","z":"e0fc0814.40fea8","influxdb":"2d4d3f94.75e26","name":"","measurement":"samuelpi4_rpm","precision":"","retentionPolicy":"","x":655,"y":540,"wires":[],"l":false},{"id":"58a67ecc.0c269","type":"debug","z":"e0fc0814.40fea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":620,"wires":[]},{"id":"7e8c147.cdbdbec","type":"mqtt out","z":"a35a4884.f4bd38","name":"","topic":"cmd/relaybox/switch1","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":540,"y":100,"wires":[]},{"id":"c2684dbf.dbbcb","type":"inject","z":"a35a4884.f4bd38","name":"turn on per min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":140,"y":100,"wires":[["cc765478.b9f958"]]},{"id":"cc765478.b9f958","type":"function","z":"a35a4884.f4bd38","name":"turn on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["7e8c147.cdbdbec"]]}]