node-red/data/flows.json
[{"id":"23c7be6a.c24c32","type":"tab","label":"Water Detector","disabled":false,"info":""},{"id":"47c4b465.c04dac","type":"mqtt in","z":"23c7be6a.c24c32","name":"","topic":"event/WaterDetector","qos":"2","datatype":"auto","broker":"ddd76ee4.a8006","x":150,"y":300,"wires":[["d86d1ce5.2abad","3ab9aa78.742786","7849feaf.3e89","55d929b5.827628"]]},{"id":"d86d1ce5.2abad","type":"debug","z":"23c7be6a.c24c32","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":360,"wires":[]},{"id":"d903c68d.7b4008","type":"influxdb out","z":"23c7be6a.c24c32","influxdb":"a84d487c.0c7558","name":"","measurement":"WaterDetector","precision":"","retentionPolicy":"","x":650,"y":300,"wires":[]},{"id":"3ab9aa78.742786","type":"function","z":"23c7be6a.c24c32","name":"process raw data","func":"p=JSON.parse(msg.payload);\nmsg.payload = {\n    voltage: p.voltage\n}   \nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["d903c68d.7b4008"]]},{"id":"7849feaf.3e89","type":"mytimeout","z":"23c7be6a.c24c32","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"timeout","warning":"5","timer":"60","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":370,"y":420,"wires":[["dcf2854e.ad5f88"],[]]},{"id":"55d929b5.827628","type":"function","z":"23c7be6a.c24c32","name":"send_ifttt_call","func":"var altering=global.get('altering') || false;\nif (!altering){\n    global.set('altering',true);\n    return msg;    \n}else{\n    return null;\n}\n\n\n\n","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["24016a05.7a5676"]]},{"id":"dcf2854e.ad5f88","type":"function","z":"23c7be6a.c24c32","name":"Check Status","func":"global.set('altering',false);\nmsg.payload = \"Status is OK\"\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":420,"wires":[["e24a8e4d.c9623"]]},{"id":"24016a05.7a5676","type":"http request","z":"23c7be6a.c24c32","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/water_detected/with/key/eiqIp7SgWyAOL9QL3OTO95ofFxAtHJW_3Gcq5T-7BWP","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":240,"wires":[["aa96b420.a23678"]]},{"id":"aa96b420.a23678","type":"debug","z":"23c7be6a.c24c32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":240,"wires":[]},{"id":"e24a8e4d.c9623","type":"debug","z":"23c7be6a.c24c32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":420,"wires":[]},{"id":"ddd76ee4.a8006","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a84d487c.0c7558","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"mytank","name":"","usetls":false,"tls":""}]